[D-BUS Service]
Name=org.freedesktop.Notifications
Exec=/bin/sh -c 'if [ -x /usr/lib/notification-daemon/notification-daemon ]; then exec /usr/lib/notification-daemon/notification-daemon; fi'
