/* Style Sheet created by ImportDoc 13.0 */



p { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



h1 { margin-top:17.0pt; margin-right:0in; margin-bottom:16.5pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:240%; font-size:22.0pt; font-family:Tahoma; font-weight:bold;  }



h2 { margin-top:13.0pt; margin-right:0in; margin-bottom:13.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:173%; font-size:16.0pt; font-family:Arial; font-weight:bold;  }



h3 { margin-top:12.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:2.15pt; text-align:justify; text-justify:inter-ideograph; layout-grid-mode:char; font-size:13.0pt; font-family:Arial; color:black; font-weight:bold;  }



h4 { margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:157%; font-size:14.0pt; font-family:Arial; font-weight:bold;  }



h5 { margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:157%; font-size:14.0pt; font-family:Arial; font-weight:bold;  }



h6 { margin-top:12.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:.8in; text-align:justify; text-justify:inter-ideograph; text-indent:-.8in; font-size:11.0pt; font-family:Tahoma; font-weight:bold;  }



p.Heading7 { margin-top:12.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:.9in; text-align:justify; text-justify:inter-ideograph; text-indent:-.9in; font-size:12.0pt; font-family:Tahoma;  }



p.Heading8 { margin-top:12.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:1.0in; text-align:justify; text-justify:inter-ideograph; text-indent:-1.0in; font-size:12.0pt; font-family:Tahoma; font-style:italic;  }



p.Heading9 { margin-top:12.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:1.1in; text-align:justify; text-justify:inter-ideograph; text-indent:-1.1in; font-size:11.0pt; font-family:Arial;  }



p.Toc1 { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.Toc2 { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:21.0pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.Toc3 { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:42.0pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.Toc4 { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:63.0pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.FootnoteText { margin:0in; margin-bottom:.0001pt; font-size:10.0pt; font-family:Tahoma;  }



p.CommentText { margin:0in; margin-bottom:.0001pt; font-size:10.0pt; font-family:Tahoma;  }



p.Header { margin:0in; margin-bottom:.0001pt; text-align:center; layout-grid-mode:char; border:none; padding:0in; font-size:9.0pt; font-family:Tahoma;  }



p.Footer { margin:0in; margin-bottom:.0001pt; layout-grid-mode:char; font-size:9.0pt; font-family:Tahoma;  }



p.Caption { margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; font-size:10.0pt; font-family:Arial; font-weight:bold;  }



p.Tof { margin:0in; margin-bottom:.0001pt; font-size:10.0pt; font-family:Tahoma;  }



span.FootnoteReference { vertical-align:super;  }



span.CommentReference {  }



span.EndnoteReference { vertical-align:super;  }



p.EndnoteText { margin:0in; margin-bottom:.0001pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma;  }



p.List { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:14.15pt; text-align:justify; text-justify:inter-ideograph; text-indent:-14.15pt; layout-grid-mode:char; font-size:10.0pt; font-family:Arial; color:black;  }



p.BodyText { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; layout-grid-mode:char; font-size:10.0pt; font-family:Arial; color:black;  }



p.BodyTextIndent { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:200%; font-size:10.0pt; font-family:Tahoma;  }



p.Date { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:5.0pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.BodyText2 { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:200%; font-size:10.0pt; font-family:Tahoma;  }



a:link { color:blue; text-decoration:underline; text-underline:single;  }



span.Hyperlink { color:blue; text-decoration:underline; text-underline:single;  }



a:visited { color:purple; text-decoration:underline; text-underline:single;  }



span.HyperlinkFollowed { color:purple; text-decoration:underline; text-underline:single;  }



p.DocumentMap { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; background:navy; font-size:10.0pt; font-family:Tahoma;  }



p.CommentSubject { margin:0in; margin-bottom:.0001pt; font-size:10.0pt; font-family:Tahoma; font-weight:bold;  }



p.Acetate { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:9.0pt; font-family:Tahoma;  }



p.CharChar1CharChar1CharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



span.tw4winExternal { font-family:Courier New; color:gray;  }



span.tw4winInternal { font-family:Courier New; color:red;  }



p.ChristeaCover2 { margin-top:17.0pt; margin-right:0in; margin-bottom:16.5pt; margin-left:2.15pt; text-align:center; text-indent:.25in; line-height:240%; layout-grid-mode:char; font-size:24.0pt; font-family:Arial; color:black;  }



span.CharChar { font-family:Arial; color:black;  }



p.DeclarationAndIndexTitle { margin-top:10.0pt; margin-right:0in; margin-bottom:10.0pt; margin-left:2.25pt; text-align:justify; text-justify:inter-ideograph; line-height:150%; layout-grid-mode:char; font-size:22.0pt; font-family:Tahoma; color:black; font-weight:bold;  }



span.DeclarationAndIndexTitleCharChar { font-family:SimSun; color:black; font-weight:bold;  }



p.CharChar2CharCharCharCharCharCharCharCharCharChar2 { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.TOCHeading { margin-top:0in; margin-right:0in; margin-bottom:.25in; margin-left:0in; text-indent:0in; line-height:22.0pt; border:none; padding:0in; font-size:20.0pt; font-family:Tahoma; font-weight:bold;  }



p.TableHeading { margin-top:0in; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; line-height:12.0pt; font-size:9.0pt; font-family:Tahoma; font-weight:bold;  }



p.TableBodyCharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; line-height:11.0pt; font-size:9.0pt; font-family:Tahoma;  }



p.CharChar1CharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



span.CharChar1CharCharChar { font-family:Tahoma; color:black;  }



p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar1 { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharCharCharChar1 { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar2CharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; line-height:12.0pt; font-size:10.0pt; font-family:Tahoma;  }



p.TableCell { margin-top:3.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; font-size:10.0pt; font-family:Tahoma;  }



span.Tahoma { font-family:Tahoma; color:black; font-weight:bold;  }



p.StyleHead1NoTOCTahomaLeft0Firstline0Linespacing { margin:0in; margin-bottom:.0001pt; line-height:150%; font-size:14.0pt; font-family:Arial; font-weight:bold;  }



p.StyleTableColumnHeadingTahomaLinespacing15lines { margin-top:3.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; line-height:150%; font-size:10.0pt; font-family:Arial; font-weight:bold;  }



p.StyleTableCellArialCenteredLinespacing15lines { margin-top:3.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; text-align:center; line-height:150%; font-size:9.0pt; font-family:Arial;  }



p.ListBulletEnd { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:.25in; text-align:justify; text-justify:inter-ideograph; text-indent:-.25in; font-size:10.0pt; font-family:Tahoma;  }



p.CharChar1CharChar1CharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar1CharChar1CharCharCharCharCharCharCharCharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.CharChar2 { margin-top:0in; margin-right:0in; margin-bottom:10.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black;  }



span.DefinedBoxTextCharChar { font-family:Arial; color:black;  }



p.DefinedTableTitle { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; layout-grid-mode:char; font-size:10.0pt; font-family:Tahoma; color:black; font-weight:bold;  }



p.DefinedTableText { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; text-align:justify; text-justify:inter-ideograph; layout-grid-mode:char; font-size:10.0pt; font-family:Arial; color:black;  }



p.DefinedTableCaption { margin:10px; margin-bottom:15px; margin-left:20%;text-align:left; font-size:10pt; font-family:Tahoma;  }



span.DefinedTableCaptionChar { font-family:Tahoma;  }



p.DefinedBodyText { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma; color:black;  }



p.DefinedBoxTitle { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.DefinedCode { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; text-indent:50.0pt; font-size:10.0pt; font-family:Tahoma; background:#D9D9D9;  }



p.DefinedIndententBall { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:.25in; text-indent:0in; line-height:150%; font-size:10.0pt; font-family:Tahoma;  }



p.DefinedNumbered { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:21.0pt; text-align:justify; text-justify:inter-ideograph; text-indent:-21.0pt; font-size:10.0pt; font-family:Tahoma;  }



span.DefinedNumberedChar { font-family:Tahoma;  }



p.DefinedFigureCaption {
	margin:10px;
	margin-bottom:15px;
	text-align:left;
	font-size:10pt;
	font-family:Tahoma;
	color:black;
	text-indent: 50px;
}



p.DefinedRomanNumbered { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:38.25pt; text-indent:-.5in; font-size:10.0pt; font-family:Tahoma;  }



span.DefinedRomanNumberedChar { font-family:Tahoma;  }



p.DefinedBall { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:21.0pt; text-align:justify; text-justify:inter-ideograph; text-indent:-21.0pt; font-size:10.0pt; font-family:Tahoma;  }



p.DefinedGridTitle { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; line-height:150%; font-size:10.0pt; font-family:Tahoma; font-weight:bold;  }



p.Break { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma; color:navy; font-style:italic;  }



p.DefinedDisclaimerTitle { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:14.0pt; font-family:Tahoma; color:black;  }



p.DefinedCover { margin-top:31.2pt; margin-right:0in; margin-bottom:31.2pt; margin-left:0in; text-align:right; line-height:20.0pt; font-size:16.0pt; font-family:Tahoma; color:blue;  }



p.DefinedLegalParas { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma; font-style:italic;  }



span.tw4winMark { font-family:Courier New; color:purple; display:none; vertical-align:sub;  }



span.tw4winError { font-family:Courier New; color:lime;  }



span.tw4winTerm { color:blue;  }



span.tw4winPopup { font-family:Courier New; color:green;  }



span.tw4winJump { font-family:Courier New; color:teal;  }



span.DONOTTRANSLATE { font-family:Courier New; color:maroon;  }



p.cita { margin-top:0in; margin-right:28.35pt; margin-bottom:.0001pt; margin-left:28.35pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.citanormal { margin-top:0in; margin-right:28.35pt; margin-bottom:.0001pt; margin-left:28.35pt; text-align:justify; text-justify:inter-ideograph; font-size:10.0pt; font-family:Tahoma;  }



p.Ttol1nria { margin-top:13.0pt; margin-right:0in; margin-bottom:13.0pt; margin-left:.25in; text-align:justify; text-justify:inter-ideograph; text-indent:-.25in; line-height:173%; font-size:14.0pt; font-family:Arial;  }



p.Ttol2nria { margin:0in; margin-bottom:.0001pt; text-align:justify; text-justify:inter-ideograph; text-indent:0in; font-size:10.0pt; font-family:Tahoma; font-weight:bold;  }



OL {
	margin-top:0px;
	margin-bottom:0px;
	font-family: Tahoma;
	font-size:10pt;  
	line-height:150%;
}



UL {
	margin-top:0px;
	margin-bottom:0px;
	margin-left: 10px;
	font-family: Tahoma; 
	font-size:10pt;  
	line-height:150%;
}

img {
	margin: 10px;
}
table {
	margin: 10px;
}
P {font-size:10pt;
line-height:120%}

