#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@ 

override_dh_install:
	dh_install tdagent-$(DEB_HOST_ARCH)/* /
	dh_install

override_dh_usrlocal:
	
