/* Style Sheet created by ImportDoc 13.0 */

p { margin:0in; margin-bottom:.0001pt; font-size:10.5pt; font-family:Tahoma;  }

h1 { margin-top:17.0pt; margin-right:0in; margin-bottom:16.5pt; margin-left:0in; line-height:240%; font-size:22.0pt; font-family:Tahoma; font-weight:bold;  }

h2 { margin-top:6.0pt; margin-right:6.5pt; margin-bottom:2.0pt; margin-left:5.75pt; font-size:9.0pt; font-family:Arial; font-weight:bold;  }

h3 { margin-top:6.0pt; margin-right:6.5pt; margin-bottom:2.0pt; margin-left:5.75pt; font-size:9.0pt; font-family:Arial; font-weight:bold;  }

h4 { margin-top:4.0pt; margin-right:6.5pt; margin-bottom:.0001pt; margin-left:.25in; font-size:12.0pt; font-family:Arial; font-weight:normal;  }

h5 { margin-top:12.0pt; margin-right:6.5pt; margin-bottom:3.0pt; margin-left:5.75pt; font-size:11.0pt; font-family:Arial; font-weight:normal;  }

h6 { margin-top:12.0pt; margin-right:6.5pt; margin-bottom:3.0pt; margin-left:5.75pt; font-size:11.0pt; font-family:Arial; font-weight:normal; font-style:italic;  }

p.Heading7 { margin-top:12.0pt; margin-right:6.5pt; margin-bottom:3.0pt; margin-left:5.75pt; font-size:9.0pt; font-family:Arial;  }

p.Heading8 { margin-top:12.0pt; margin-right:6.5pt; margin-bottom:3.0pt; margin-left:5.75pt; font-size:9.0pt; font-family:Arial; font-style:italic;  }

p.Heading9 { margin-top:12.0pt; margin-right:6.5pt; margin-bottom:3.0pt; margin-left:5.75pt; font-size:9.0pt; font-family:Arial; font-style:italic;  }

p.Toc1 { margin:0in; margin-bottom:.0001pt; font-size:8.0pt; font-family:Tahoma;  }

p.Toc2 { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:16.0pt; font-size:8.0pt; font-family:Tahoma;  }

p.Toc3 { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:42.0pt; font-size:8.0pt; font-family:Tahoma;  }

p.Toc4 { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:63.0pt; font-size:8.0pt; font-family:Tahoma;  }

p.FootnoteText { margin-top:4.0pt; margin-right:6.5pt; margin-bottom:.0001pt; margin-left:5.75pt; font-size:10.0pt; font-family:Arial;  }

p.CommentText { margin:0in; margin-bottom:.0001pt; font-size:8.0pt; font-family:Tahoma;  }

p.Header { margin:0in; margin-bottom:.0001pt; text-align:center; layout-grid-mode:char; border:none; padding:0in; font-size:9.0pt; font-family:Tahoma;  }

p.Footer { margin:0in; margin-bottom:.0001pt; layout-grid-mode:char; font-size:9.0pt; font-family:Tahoma;  }

p.Caption { margin-top:6.0pt; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; font-size:10.0pt; font-family:Arial; font-weight:bold;  }

p.Tof { margin:0in; margin-bottom:.0001pt; font-size:10.0pt; font-family:Tahoma;  }

p.EndnoteText { margin:0in; margin-bottom:.0001pt; layout-grid-mode:char; font-size:8.0pt; font-family:Tahoma;  }

p.List { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:14.15pt; text-indent:-14.15pt; layout-grid-mode:char; font-size:8.0pt; font-family:Arial; color:black;  }

p.BodyText { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; font-size:10.5pt; font-family:Tahoma;  }

p.Date { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:5.0pt; font-size:8.0pt; font-family:Tahoma;  }

p.BodyText2 { margin-top:0in; margin-right:0in; margin-bottom:6.0pt; margin-left:0in; line-height:200%; font-size:8.0pt; font-family:Tahoma;  }

a:link { color:blue; text-decoration:underline; text-underline:single;  }

span.Hyperlink { color:blue; text-decoration:underline; text-underline:single;  }

a:visited { color:purple; text-decoration:underline; text-underline:single;  }

span.HyperlinkFollowed { color:purple; text-decoration:underline; text-underline:single;  }

p.DocumentMap { margin:0in; margin-bottom:.0001pt; background:navy; font-size:8.0pt; font-family:Tahoma;  }

p.CommentSubject { margin:0in; margin-bottom:.0001pt; font-size:8.0pt; font-family:Tahoma; font-weight:bold;  }

p.Acetate { margin:0in; margin-bottom:.0001pt; font-size:9.0pt; font-family:Tahoma;  }

span.tw4winExternal { font-family:Courier New; color:gray;  }

span.tw4winInternal { font-family:Courier New; color:red;  }

span.tw4winError { font-family:Courier New; color:lime;  }

span.tw4winJump { font-family:Courier New; color:teal;  }

span.tw4winMark { font-family:Courier New; color:purple; display:none; vertical-align:sub;  }

span.tw4winPopup { font-family:Courier New; color:green;  }

p.Nottrans { margin:0in; margin-bottom:.0001pt; font-size:10.5pt; font-family:Tahoma;  }

p.Body { margin:0in; margin-bottom:.0001pt; line-height:13.5pt; font-size:10.0pt; font-family:Tahoma; color:#010100;  }

p.CharChar1CharChar1CharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.ChristeaCover2 { margin-top:17.0pt; margin-right:0in; margin-bottom:16.5pt; margin-left:2.15pt; text-align:center; text-indent:.25in; line-height:240%; layout-grid-mode:char; font-size:24.0pt; font-family:Arial; color:black;  }

p.DeclarationAndIndexTitle { margin-top:10.0pt; margin-right:0in; margin-bottom:10.0pt; margin-left:2.25pt; line-height:150%; layout-grid-mode:char; font-size:22.0pt; font-family:Tahoma; color:black; font-weight:bold;  }

p.CharChar2CharCharCharCharCharCharCharCharCharChar2 { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.TOCHeading { margin-top:0in; margin-right:0in; margin-bottom:.25in; margin-left:0in; text-indent:0in; line-height:22.0pt; border:none; padding:0in; font-size:20.0pt; font-family:Helvetica; font-weight:bold;  }

p.CharChar1CharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar1 { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2CharCharCharCharCharCharCharCharCharChar2CharCharCharCharCharChar0 { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2CharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; font-size:10.0pt; font-family:Verdana;  }

p.TableCell { margin-top:3.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; font-size:10.0pt; font-family:Tahoma;  }

p.StyleHead1NoTOCTahomaLeft0Firstline0Linespacing { margin:0in; margin-bottom:.0001pt; line-height:150%; font-size:14.0pt; font-family:Arial; font-weight:bold;  }

p.StyleTableColumnHeadingTahomaLinespacing15lines { margin-top:3.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; line-height:150%; font-size:10.0pt; font-family:Arial; font-weight:bold;  }

p.StyleTableCellArialCenteredLinespacing15lines { margin-top:3.0pt; margin-right:0in; margin-bottom:3.0pt; margin-left:0in; text-align:center; line-height:150%; font-size:9.0pt; font-family:Arial;  }

p.ListBulletEnd { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:15.1pt; text-indent:-15.1pt; font-size:8.0pt; font-family:Tahoma;  }

p.CharChar1CharChar1CharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar1CharChar1CharCharCharCharCharCharCharCharCharCharCharCharCharCharChar { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.CharChar2 { margin-top:0in; margin-right:0in; margin-bottom:8.0pt; margin-left:0in; line-height:12.0pt; layout-grid-mode:char; font-size:10.0pt; font-family:Verdana; color:black;  }

p.DefinedTableTitle { margin:0in; margin-bottom:.0001pt; line-height:150%; font-size:8.0pt; font-family:Tahoma; color:black; font-weight:bold;  }

p.DefinedTableText { margin:0in; margin-bottom:.0001pt; font-size:8.0pt; font-family:Tahoma; color:black;  }

p.DefinedTableCaption { margin:0in; margin-bottom:.0001pt; text-align:center; font-size:8.0pt; font-family:Tahoma;  }

p.DefinedBodyText { margin:0in; margin-bottom:.0001pt; font-size:8.0pt; font-family:Tahoma; color:black;  }

p.DefinedBoxTitle { margin:0in; margin-bottom:.0001pt; font-size:8.0pt; font-family:Tahoma;  }

p.DefinedCode { margin:0in; margin-bottom:.0001pt; text-indent:50.0pt; font-size:10.0pt; font-family:Tahoma; background:#D9D9D9;  }

p.DefinedIndententBall { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:.25in; text-indent:0in; line-height:150%; font-size:8.0pt; font-family:Tahoma;  }

p.DefinedNumbered { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:21.0pt; text-indent:-21.0pt; font-size:8.0pt; font-family:Tahoma;  }

p.DefinedFigureCaption { margin:0in; margin-bottom:.0001pt; text-align:center; text-indent:12.0pt; font-size:8.0pt; font-family:Tahoma; color:black;  }

p.DefinedRomanNumbered { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:38.25pt; text-indent:-.5in; font-size:8.0pt; font-family:Tahoma;  }

p.DefinedBall { margin-top:0in; margin-right:0in; margin-bottom:.0001pt; margin-left:21.0pt; text-indent:-21.0pt; font-size:8.0pt; font-family:Tahoma;  }

p.DefinedGridTitle { margin:0in; margin-bottom:.0001pt; line-height:150%; font-size:8.0pt; font-family:Tahoma; font-weight:bold;  }

OL { margin-top:0px; margin-bottom:0px;  }

UL { margin-top:0px; margin-bottom:0px;  }

